/* меню страниц */
.menu {
    background-color: #f1f1f1;
    box-shadow: 4px 5px 10px rgba(0, 0, 0, 0.4);
    width: 100%;
}

/*Теперь уберем маркеры со списка и произведем выравнивание его элементов в одну
линию*/
.menu li {
    display: inline-block;
    vertical-align: top;
    padding: 10px;
    color: #6f6d6d;
}

.menu a {
    text-decoration: none; /* Убирает подчеркивание для ссылок */
    color: #6f6d6d;
}

.menu li:hover {
    background-color:  rgba(145, 180, 74, 0.87);
    cursor: pointer;
    color: #f8f8f8;
}

.menu ul {
    padding: 0px;
}

.active {
    background-color: rgba(163, 205, 90);
    color: #f8f8f8;
}

.active a:visited {
    color: #f8f8f8;
}

.menu a:hover {
    color: #f8f8f8;
}

.block {
    padding: 10px 20px;
}

th {
  font-size: 13px;
  font-weight: normal;
  background:  rgba(163, 205, 90);
  border-top: rgba(145, 180, 74, 0.7);
  border-bottom: 1px solid white;
  color: white;
  padding: 8px;
}
td {
  background: rgba(145, 180, 74, 0.4);
  border-bottom: 1px solid white;
  color: rgb(51, 43, 43);
  border-top: 1px solid transparent;
  padding: 8px;
}
tr:hover td {
  background: rgba(145, 180, 74, 0.87);
}

.knopka:hover {
    background: rgba(163, 205, 90, 0.14);
}
.knopka:active {
    background: rgba(163, 205, 90);}